<?xml version="1.0" encoding="utf-8"?>

<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.github.marmalade.aRevelation"
        android:versionCode="1"
        android:versionName="0.01"
        android:installLocation="auto">

        
    <uses-sdk android:minSdkVersion="11" android:targetSdkVersion="18"/>

    <application
            android:icon="@drawable/icon"
            android:label="aRevelation">
        <activity
                android:name=".MainActivity"
                android:theme="@android:style/Theme.Holo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.BROWSABLE"></category>
                <data android:scheme=".MainActivity"></data>
            </intent-filter>
        </activity>
    </application>
</manifest>
